<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockSimulator</title>
</head>
<body>
    <h2>StockSimulator</h2>
    <h3>Home</h3>
    {% if user.is_authenticated %}
    <!-- All code for homepage when user is logged in will be written in this block-->
        <p>Welcome {{ user.username }}!</p>
        <p><a href="/auth/signout">Logout</a></p>

        <table id="stocktable">
            
        </table>
        <script src="{static 'js/loggedhomescript.js'}"></script>
    {% else %}
    <!-- All code for homepage when user is not logged in will be written in this block-->
        <p><a href="/auth/signin">Login</a></p>
        <p><a href="/auth/signup">Register</a></p>
    {% endif %}
</body>
</html>